<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjaz contest</title>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <!-- Logos -->
      <div class="logos">
        <img id="imamu-logo" src="/assets/imamu.png">
        <img id="enjaz-logo" src="/assets/enjaz.png">
		    <img id="enjaz-logo" src="/assets/ajder.webp">
      </div>

      <!-- Title -->
      <h1>Capture The Flag<br>نادي إنجاز</h1>
    </header>


    <!-- Contestant Container -->
    <div class="contestant-container">
		<p id='description-CTF'><span style='font-size: 28px; font-weight: bold'>Challenge Name: Duck</span><br><br>The ducks are everywhere!! I can't stop them quuack?<br>The flag has two parts. Good luck</p>
	 
        <span id="title-CTF">ما هو العلم؟:</span>
        <input type="text" id="input-CTF">
        <button id="submit-CTF">تأكيد الإجابة</button>
    </div>


    <footer>
      <p>صُنع بإتقان من قِبل نادي إنجاز</p>
    </footer>

    <script src="CTF.js"></script>
  
  </body>
</html>