<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjaz contest</title>

    <link rel="stylesheet" href="styles/index.css">
  </head>

  <body>
    <header>
      <!-- Logos -->
      <div class="logos">
        <img id="imamu-logo" src="/assets/imamu.png">
        <img id="enjaz-logo" src="/assets/enjaz.png">
      </div>

      <!-- Title -->
      <h1>فعالية اليوم الوطني<br>نادي إنجاز</h1>
    </header>


    <!-- Contestant Container -->
    <div class="contestant-container">
      <p>عدد المشاركين: <%= data %></p>
      <button id="contestant-submit">الدخول</button>
    </div>


    <footer>
      <p>صُنع بإتقان من قِبل نادي إنجاز</p>
    </footer>

    <script src="https://cdn.socket.io/4.5.4/socket.io.min.js"></script>
    <script src="index.js"></script>
  </body>
</html>