<!DOCTYPE html>
<html lang="en" dir="rtl">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Enjaz contest</title>

    <link rel="stylesheet" href="style.css">
  </head>

  <body>
    <header>
      <!-- Logos -->
      <div class="logos">
        <img id="imamu-logo" src="/assets/imamu.png">
        <img id="enjaz-logo" src="/assets/enjaz.png">
      </div>

      <!-- Title -->
      <h1>التحدي البرمجي<br>نادي إنجاز</h1>
    </header>


    <!-- Contestant Container -->
    <div class="contestant-container">
      <p>
        <span id="contestant">في انتظار منافس...</span>
        <br>
        <span id="timer">00:00</span>
      </p>
    </div>


    <!-- Leaderboard Container -->
    <div class="leaderboard">
      <h1>قائمة المتصدرين</h1>
      
      <div id="top-users">
      </div>
    </div>


    <footer>
      <p>صُنع بإتقان من قِبل نادي إنجاز</p>
    </footer>

    <script src="index.js"></script>
  
  </body>
</html>