<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/admin.css">
    <title>Document</title>
</head>
<body>

    <div id="run_app">
        <button>تشغيل</button>
        <button>اطفاء</button>
    </div>

    <div id="Contestants">

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>

        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


        <li id="information">
            <ul><button>عدم القبول</button></ul>
            <ul><button>قبول</button></ul>
            <ul>4002221</ul>
            <ul id="name_contestant">عبدالله محمد التمامي</ul>
        </li>


    </div>

    <button id="accept_all">قبول الكل</button>
    
</body>
</html>