<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Technation feud | Enjaz system</title>

  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <div class="img-bg"></div> <!-- Background -->

  <header>
    <!-- Logos -->

    <div class="logos">
      <!--<img id="imamu-logo" src="assets/technation_logo.png">-->
      <img id="imamu-logo" src="assets/technation_logo.png">
    </div>

    <!-- Title -->
    <!-- <h1>فعالية اليوم الوطني<br>نادي إنجاز</h1> -->

  </header>


  <!-- Contestant Container -->
  <div class="contestant-container">
    <p id="number_contestants">عدد المشاركين: <%= data %></p>
    <img id="bell_img" src="assets/bell.png" class="hidden"></img>


    <div id="start-game">
      <input type="text" class="contestant-input" id="contestant-name" placeholder="اسمك الثلاثي">
      <!--<input type="text" class="contestant-input" id="contestant-id" placeholder="رقمك الجامعي" maxlength="9">-->

      <button id="contestant-submit">الدخول</button>
    </div>
  </div>

  <footer>
    <p> بُرمج بِحُبّ من قِبل راكان المطيري</p>
    <p>&hearts;&#xFE0E;
  </footer>

  <!-- Notifications -->
  <div class="notification-container"></div>


  <script src="/lib/socket.io.min.js"></script>
  <script src="index.js"></script>
</body>

</html>