<!DOCTYPE html>
<html lang="en" dir="rtl">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Enjaz National day contest</title>

  <link rel="stylesheet" href="styles/index.css">
</head>

<body>
  <img src="/assets/background_enjaz.png" class="img-bg"> <!-- Background -->

  <header>
    <!-- Logos -->

    <div class="logos">
      <img id="imamu-logo" src="assets/two_logos.png">
      <img id="imamu-logo" src="assets/logo_enjaz.png">
    </div>

    <!-- Title -->
    <!-- <h1>فعالية اليوم الوطني<br>نادي إنجاز</h1> -->

  </header>


  <!-- Contestant Container -->
  <div class="contestant-container">
    <p id="number_contestants">عدد المشاركين: <%= data %></p>



    <div id="start-game">
      <input type="text" class="contestant-input" id="contestant-name" placeholder="اسمك">
      <input type="text" class="contestant-input" id="contestant-id" placeholder="رقمك الجامعي" maxlength="9">

      <button id="contestant-submit">الدخول</button>
    </div>
  </div>

  <footer>
    <p> بُرمج بحب من قبل إنجاز</p>
    <p>&hearts;&#xFE0E;
  </footer>

  <!-- Notifications -->
  <div class="notification-container"></div>


  <script src="/lib/socket.io.min.js"></script>
  <script src="index.js"></script>
</body>

</html>