/* Load font */
@font-face {
    font-family: montaser;
    src: url(../assets/font.ttf);
}

h1, p {
    font-family: 'montaser';
}

p {
    width: fit-content;
    height: fit-content;
}

html, body {
    padding: 0;
    margin: 0;
}

button, input {
    font-family: 'montaser';

    outline: none;
    border: none;
}

button {
    cursor: pointer;
}

/* Prevent scrolling by x-axis */
body {
    overflow-x: hidden;
}

.img-bg {
    position: fixed; 
    top: 0; 
    left: 0;

    width: 100%;
    height: 100%;
}

/* 
    Header
*/

header {
    direction: ltr;
}

/* Header Title */
header > h1 {
    position: absolute;
    top: 0%;

    left: 50%;
    transform: translate(-50%); /* Force center */
    

    font-family: 'montaser';
    color: #144f43;
    font-size: 80px;
    text-align: center;
}

@media screen and (max-width:768px) {
    header > h1 {
        width: fit-content;

        top: 2%;
        left: 70%;
        font-size: 5vw;
    }
}

/* Header Logos */
.logos {
    position: relative;

    height: fit-content;
    
    top: 10px;
    left: 5px;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.logos img:nth-child(2) {
    width: 170px;
    height: 200px;
}

.logos img:nth-child(1) {
    height: 93px;
    width: 240px;
}




/*
    Content
*/

/* Contestant Container */
.contestant-container {
    position: absolute;
    width: 100%;


    top: 40%;
    left: 50%;

    transform: translate(-50%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contestant-container > p {
    text-align: center;

    color: #144f43;
    font-size: 16px;
}

.hidden {
    display: none !important;
}

#start-game {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#number_contestants {
    text-align: center;

    color: #144f43;
    font-size: 20px;
}

.contestant-input {
    color: #767676;

    height: 45px;

    width: 70%;
    max-width: 350px;
    
    margin-bottom: 20px;
    border-radius: 50px;

    text-indent: 35px;

}

.contestant-input::placeholder {
    font-family: 'IBM Plex Sans Arabic', sans-serif;
    color: rgb(118, 118, 118);
    opacity: 0.5;
}

#start-game input {
    background: url(../assets/name-icon.png) rgb(248, 248, 248) no-repeat right;
    background-size: 20px;
    background-position-x: 97%;
}

#start-game input:nth-child(2) { /* Change icon of second input */
    background-image: url(../assets/id-icon.png);
}

#contestant-submit {
    font-size: 17px;

    width: 166px;
    height: 50px;

    color: white;
    border-radius: 50px;
    background-color: #357a4d;
    margin-top: 15px;
    box-shadow: 0px 6px 20px 1px #0000005f;
}

@media screen and (max-height:760px) {
    .contestant-container {
        top: 35%;
    }

    .logos {
        left: 5px;
    }

    .logos img:nth-child(1) {
        height: 70px;
        width: 160px;
    }

    .logos img:nth-child(2) {
        width: 150px;
        height: 160px;
    }
}

@media screen and (max-height:600px) {
    .logos {
        top: 7px;
        left: 5px;
    }

    .logos img:nth-child(1) {
        height: 60px;
        width: 145px;
    }

    .logos img:nth-child(2) {
        width: 140px;
        height: 145px;
    }
}


/*
    Footer
*/
footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;

    /* background-color: #144f43;
    border-radius: 80px 80px 0px 0px; */


    bottom: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-size: 15px;

    position: relative;
    color: #357a4d;
}

footer p:nth-child(2) {
    font-size: 23px;
    margin-right: 5px;
}


/* Notification System */
.notification-container {
    direction: ltr;

    position: absolute;
    
    left: 5%;
    top: 10%;

    width: 60%;

    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

@media screen and (min-width: 720px) {
    .notification-container {
        width: 350px;
    }
}

#notification-message {
    position: relative;

    background-color: #ebebeb;
    border: 1px solid;


    border-radius: 10px;
    height: 60px;

    font-size: 16px;

    left: -100%;
    /* To: left: 0%
    /* Transition */
    transition: left 0.5s linear;
}

/* SVG Notification */
#notification-message > svg {
    position: relative;

    width: 32px;
    height: 32px;

    top: 20%;
    left: 10px;
}

#notification-message > span {
    position: absolute;

    top: 20%;
    right: 10px;

    direction: rtl;

    font-family: 'montaser';
    font-size: 14px;

    width: 70%;
}



/* Successfull Notification */
#notification-message.success {
    background-color: #EAF7EE;
    border-color: #3FBD63;
}

#notification-message.success > svg {
    color: #3FBD63;
}

/* Failed notificaton */
#notification-message.failed {
    background-color: #fcede9;
    border-color: #ec4c2c;
}

#notification-message.failed > svg {
    color: #ec4c2c;
}

/* Warning notification */
#notification-message.warning {
    background-color: #fef7ea;
    border-color: #ed9400;
}

#notification-message.warning > svg {
    color: #ed9400;
}


/* Question container */
#question-container {
    display: flex;
    width: 90%;
    align-items: center;
    flex-direction: column;
}

#question-container p:nth-child(1) {
    color: #144f43;
    font-size: 5vw;

    width: 80%;
}

#question-container #time {
    color: #144f43;
    font-size: 16px;
}

#question-container button {
    background-color: #ffffff;
    border-radius: 10px;
    color: #357a4d;
    width: 100%;
    height: 40px;
    margin-bottom: 15px;
    max-width: 300px;
    font-size: 15px;
}


/* Question System */

#question-container button:last-of-type {
    margin-bottom: 0px;
}

#question-container > button:hover {
    background-color: #f3f3f3;
}

#question-container > button:focus {
    background-color: #f3f3f3;
}