/* Load font */
@font-face {
    font-family: montaser;
    src: url(assets/font.ttf);
}

h1, p, span {
    font-family: 'montaser';
}

p, span {
    width: fit-content;
    height: fit-content;
}

html, body {
    padding: 0;
    margin: 0;
}

body {
    background-image: url('/assets/bg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

/* 
    Header
*/

header {
    direction: ltr;
}

/* Header Title */
header > h1 {
    position: absolute;
    top: 0%;

    left: 50%;
    transform: translate(-50%); /* Force center */
    

    font-family: 'montaser';
    color: #144f43;
    font-size: 60px;
    text-align: center;
}

/* Header Logos */
.logos {
    position: relative;

    top: 5px;
    left: 5px;

    width: fit-content;

    display: flex;
    flex-direction: row;

    gap: 5px;
}

#imamu-logo {
    width: 150px
}

#enjaz-logo {
    width: 200px;
    height: 200px;
}


/*
    Content
*/

/* Contestant Container */
.contestant-container {
    position: absolute;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

#contestant {
    color: #ebc53a;
}

.contestant-container > p {
    text-align: center;

    color: #144f43;
    font-size: 80px;
}

/* Leaderboard Container */
.leaderboard {
    direction: rtl;

    position: absolute;

    left: 70%;
    top: 10%;

    background-color: #144f43;

    width: 500px;
    height: 800px;

    border-radius: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

}

/* Leaderboard Title */
.leaderboard > h1 {
    text-align: center;

    color: #ebc53a;
    font-size: 70px;
}

/* Leaderboard users container */
#top-users {
    width: 100%;

    display: none;
    flex-direction: column;

    align-items: center;
}

/* Leaderboard each user */
#top-users #user {
    width: 90%;
    height: 30%;

    font-size: 25px;
    color: aliceblue;


    display: flex;
    justify-content: space-between;
}

#user-time {
    color: #ebc53a;
}

@media screen and (max-width: 1920px) {
    .leaderboard {
        width: 350px;
        left: 80%;
        height: 500px;
    }

    .leaderboard > h1 {
        font-size: 40px;
    }

    #top-users #user {
        font-size: 18px;
    }
}


/*
    Footer
*/
footer {
    box-sizing: border-box;
    position: absolute;
    width: 100%;

    background-color: #144f43;
    border-radius: 80px 80px 0px 0px;


    bottom: 0%;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer > p {
    font-size: 40px;

    position: relative;
    color: #ebc53a;
}


/*
    CTF elements
*/
#description-CTF {
	direction: ltr;
	
	font-size: 18px;
	text-align: left;
}

#title-CTF {
    color: #ebc53a;
    font-size: 80px;
	margin-bottom: 20px
}

#input-CTF {
    border: none;
    text-align: center;

    font-family: 'montaser';
    font-size: 20px;



    width: 500px;
    height: 80px;

    margin-bottom: 10px;


    background-color: #144f43;
    color: #ebc53a;
    border-radius: 30px;
}

#submit-CTF, #challenge-CTF {
    font-family: 'montaser';
    font-size: 20px;

    width: 250px;
    height: 80px;

    background-color: #144f43;
    color: #ebc53a;

    border: none;
    border-radius: 30px;
}

#challenge-CTF {
	margin-bottom: 20px;
}

#submit-CTF:hover, #challenge-CTF:hover {
    background-color: #117c67;
}

#submit-CTF:active, #challenge-CTF:active {
    background-color: #144f43;
}