@font-face {
    font-family: montaser;
    src: url(/assets/font.ttf);
}

* {  font-family: 'montaser'; }

body {
    background: rgb(79,111,82);
    background: linear-gradient(90deg, rgba(79,111,82,1) 50%, rgba(115,144,114,1) 100%); 

    height: 100%;  
    display: flex;
    justify-content: center;  
}

#Contestants {
    background-color: rgba(255, 255, 255, 0.718);


    position: absolute;
    left: 50%;
    top: 50%;

    height: 60%;
    width: 90%;
    max-width: 1100px;

    overflow-y: scroll;
    transform: translate(-50%,-50%);
    
    border-radius: 25px 10px 10px 25px;
    padding: 10px;
}

ul {
    width: 200px;
}

button {
    width: 110px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    box-shadow: 0px 4px 13px 0px #0000005f;
}

#accept_all {
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
}

#run_app{
    display: flex;
    width: 300px;
    height: 130px;

    align-items: center;
    gap: 80px;
}

::-webkit-scrollbar {
    width: 20px;
  }
  
  
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
  }
   
  
  ::-webkit-scrollbar-thumb {
    background: #999999;; 
    border-radius: 10px;
  }
  
  
  ::-webkit-scrollbar-thumb:hover {
    background: #828282;; 
  }
  


#information {
    display: flex;
    
    justify-content: center;
    align-items: center;
}


@media screen and (max-width: 1200px) {
    #information {
        gap: 80px;
        margin-bottom: 20px;
    }

    ul {
        width: 100px;
        margin: 0;
        padding: 0;
    }

    ul#name_contestant {
        width: 170px;
    }
}

/* Start container */
#start-container {
    display: flex;
    flex-direction: column;
}

#start-container > button {
    margin-bottom: 5px;
}

#start-container > input {
    width: 100px;
    text-align: center;
}


/* Notification System */
.notification-container {
    direction: ltr;

    position: absolute;
    
    left: 5%;
    top: 10%;

    width: 60%;

    display: flex;
    flex-direction: column;

    row-gap: 10px;
}

@media screen and (min-width: 720px) {
    .notification-container {
        width: 350px;
    }
}

#notification-message {
    position: relative;

    background-color: #ebebeb;
    border: 1px solid;


    border-radius: 10px;
    height: 60px;

    font-size: 16px;

    left: -100%;
    /* To: left: 0%
    /* Transition */
    transition: left 0.5s linear;
}

/* SVG Notification */
#notification-message > svg {
    position: relative;

    width: 32px;
    height: 32px;

    top: 20%;
    left: 10px;
}

#notification-message > span {
    position: absolute;

    top: 20%;
    right: 10px;

    direction: rtl;

    font-family: 'montaser';
    font-size: 14px;

    width: 70%;
}



/* Successfull Notification */
#notification-message.success {
    background-color: #EAF7EE;
    border-color: #3FBD63;
}

#notification-message.success > svg {
    color: #3FBD63;
}

/* Failed notificaton */
#notification-message.failed {
    background-color: #fcede9;
    border-color: #ec4c2c;
}

#notification-message.failed > svg {
    color: #ec4c2c;
}

/* Warning notification */
#notification-message.warning {
    background-color: #fef7ea;
    border-color: #ed9400;
}

#notification-message.warning > svg {
    color: #ed9400;
}